body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
   
}

.main {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}

.websiteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color:grey;
   padding: 1rem;
   color:white;
   
   
}

.formList{
    width: 40%;
}

.result{
    width: 40%;
    word-wrap: break-word;
}

.websiteForm > label {
    margin-top: 10px;
}

.websiteForm > input {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

#citationResult {
    margin-top: 20px;
    font-weight: bold;
}

.finalCitation{
    border:2px solid grey;
}

.generatedResult{
    border:1px solid grey;
    padding: 1rem;;
}